---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Procedura:] Pubblicare e analizzare Risultati test? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System consente di tracciare le modifiche apportate alla qualità del codice di un progetto durante l'avanzamento del progetto. Questo video fornisce istruzioni su come Publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641190"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="dcbf2-105">[Procedura:] Pubblicare e analizzare Risultati test?</span><span class="sxs-lookup"><span data-stu-id="dcbf2-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="dcbf2-106">di [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="dcbf2-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="dcbf2-107">Visual Studio Team System consente di tracciare le modifiche apportate alla qualità del codice di un progetto durante l'avanzamento del progetto.</span><span class="sxs-lookup"><span data-stu-id="dcbf2-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="dcbf2-108">In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database del progetto Team Foundation Server e associare i risultati a un numero di Build.</span><span class="sxs-lookup"><span data-stu-id="dcbf2-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="dcbf2-109">Si noterà che, dopo la pubblicazione dei risultati, è possibile usare la Gestione report per visualizzare una rappresentazione grafica delle modifiche nei risultati dei test di compilazione.</span><span class="sxs-lookup"><span data-stu-id="dcbf2-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="dcbf2-110">&#9654;Guarda il video (7 minuti)</span><span class="sxs-lookup"><span data-stu-id="dcbf2-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="dcbf2-111">[Precedente](how-do-i-use-generic-tests.md)
> [Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="dcbf2-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
