---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Procedura:] Pubblicare e analizzare i risultati dei Test? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 24b1f6decbb17bb22a45166e5fdb0845c65af498
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 03/01/2019
ms.locfileid: "57053878"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="2d3b2-105">[Procedura:] Pubblicare e analizzare i risultati dei Test?</span><span class="sxs-lookup"><span data-stu-id="2d3b2-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="2d3b2-106">da [feed di Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="2d3b2-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="2d3b2-107">Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto.</span><span class="sxs-lookup"><span data-stu-id="2d3b2-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="2d3b2-108">In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database di progetto di Team Foundation Server e associare i risultati a un numero di build.</span><span class="sxs-lookup"><span data-stu-id="2d3b2-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="2d3b2-109">Noteremo che, dopo i risultati sono stati pubblicati è possibile usare Gestione Report per visualizzare una rappresentazione grafica delle modifiche nei risultati test di compilazione.</span><span class="sxs-lookup"><span data-stu-id="2d3b2-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="2d3b2-110">&#9654;Guarda il video (7 minuti)</span><span class="sxs-lookup"><span data-stu-id="2d3b2-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="2d3b2-111">[Precedente](how-do-i-use-generic-tests.md)
> [Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="2d3b2-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
