---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Procedura:] Pubblicare e analizzare i risultati dei Test? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 04/17/2019
ms.locfileid: "59413503"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Procedura:] Pubblicare e analizzare i risultati dei Test?

da [feed di Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database di progetto di Team Foundation Server e associare i risultati a un numero di build. Noteremo che, dopo i risultati sono stati pubblicati è possibile usare Gestione Report per visualizzare una rappresentazione grafica delle modifiche nei risultati test di compilazione.

[&#9654;Guarda il video (7 minuti)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Precedente](how-do-i-use-generic-tests.md)
> [Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)
