---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Procedura:] Pubblicare e analizzare Risultati test? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System consente di tracciare le modifiche apportate alla qualità del codice di un progetto durante l'avanzamento del progetto. Questo video fornisce istruzioni su come Publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641190"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Procedura:] Pubblicare e analizzare Risultati test?

di [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System consente di tracciare le modifiche apportate alla qualità del codice di un progetto durante l'avanzamento del progetto. In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database del progetto Team Foundation Server e associare i risultati a un numero di Build. Si noterà che, dopo la pubblicazione dei risultati, è possibile usare la Gestione report per visualizzare una rappresentazione grafica delle modifiche nei risultati dei test di compilazione.

[&#9654;Guarda il video (7 minuti)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Precedente](how-do-i-use-generic-tests.md)
> [Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)
